{
	"extends": "eslint:recommended",
	"env": {
		"node": true
	},
	"rules": {
		"indent": [2, "tab", {"SwitchCase": 1}],
		"eol-last": [2],
		"semi": [2, "always"],
		"quotes": [2, "double", "avoid-escape"],
		"eqeqeq": [2, "smart"],
		"no-console": [0],
		"space-before-blocks": [2, "always"],
		"keyword-spacing": [2],
		"computed-property-spacing": [2, "never"],
		"comma-spacing": [2, {"before": false, "after": true}],
		"no-unused-vars": [2, {"argsIgnorePattern": "^_"}]
	}
}
